@page "/my-sign-in-page"
<form action="signin-myauth" method="post" @formname="sign-in">
   <AntiforgeryToken/>
    <input type="hidden" name="State" value=@State />
   <button type="submit">Click here to sign in</button>
</form>

@code {

    [SupplyParameterFromQuery]
    private string? RedirectUri { get; set; }

    [SupplyParameterFromQuery]
    private string? State { get; set; }
}
